<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
</head>
<body>

  <ul class="posts">
  <% for(var i=0; i<posts.length; i++) {%>
    <li class="post">
      <span><%= posts[i].title %></span>
      <span><%= posts[i].body %></span>
      <% var id = posts[i]._id %>
     <span><a href="/posts/<%= id %>">See this post</a></span>
    </li>
  <% } %>
  </ul>

  <form action="/posts" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="body" name="body">
    <button type="submit">Submit</button>
  </form>
</body>
</html>